* {
    margin: 0;
    padding: 0;
}
body {

    font-family: 'Helvetica Neue', arial, sans-serif;
    font-weight: 200;
}

/* h1 {
    font-family: 'Helvetica Neue', arial, sans-serif;
    font-weight: 800;

    margin: 0 0 20px;


    color: #32373c;
}*/

h2
{
    font-family:Georgia;
    font-style: italic;
    font-size: 42px;
    color:#1e282f;
    text-transform:none;
    text-align:center;
    font-weight:100;
    letter-spacing:1px;
    padding-bottom: 10px;
}


h4
{
    font-family:Georgia;
    color: #454545;
    text-align: left;
    margin-top: 10px;

    font-style: italic;
}



hr {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    margin: 25px 0;
    clear: both;
}
.centered
{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.wrapper {
    width: 100%;
    padding: 30px 0;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
ul.grid-nav {
    list-style: none;
    font-size: .85em;
    font-weight: 200;
    text-align: center;
}
ul.grid-nav li {
    display: inline-block;
}
ul.grid-nav li a {
    display: inline-block;
    background: #999;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
ul.grid-nav li a:hover {
    background: #7b0;
}
ul.grid-nav li a.active {
    background: #333;
}
.grid-container {
    display: none;
}
/* ----- Image grids ----- */
ul.rig {
    list-style: none;
    font-size: 0px;
    margin-left: -2.5%; /* should match li left margin */
}
ul.rig li {
    display: inline-block;
    padding: 0px;
    margin: 0 0 2.5% 2.5%;
    background: #fff;
  /*  border: 0px solid #ddd;*/
    font-size: 16px;
    font-size: 1rem;

    vertical-align: top;
    box-shadow: 0 0 0px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul.rig li img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
    margin: 0 0 0px;
}
ul.rig li h3 {
    margin: 0 0 5px;
}
ul.rig li p {
    font-size: .9em;
    line-height: 1.5em;
    color: #999;
}
/* class for 2 columns */
ul.rig.columns-2 li {
    width: 47.5%; /* this value + 2.5 should = 50% */
    min-height: 400px;
}
/* class for 3 columns */
ul.rig.columns-3 li {
    width: 30.83%; /* this value + 2.5 should = 33% */
    position:relative;

    background-color: transparent;


    /*box-shadow: 2px 2px 1px #888888;*/
}

#three-columns
{
    width:90%;
    display:block;

}

.author-name
{

    position:absolute;
    left: 10px;
    bottom: 10px;
    font-size: medium;

}

/* class for 4 columns */
ul.rig.columns-4 li {
    width: 22.5%; /* this value + 2.5 should = 25% */

}

ul.rig.columns-4 li.li-wrapper
{
    position:absolute;


}

@media (max-width: 1199px) {
    .container {
        width: auto;
        padding: 0 10px;
    }
}

@media (max-width: 480px) {
    ul.grid-nav li {
        display: block;
        margin: 0 0 5px;
    }
    ul.grid-nav li a {
        display: block;

    }
    ul.rig {
        margin-left: 0;
    }
    ul.rig li {
        width: 100% !important; /* over-ride all li styles */
        margin: 0 0 20px;
    }
}




.description
{
    font-size: medium;
    font-weight: 400;
    color: rgba(97, 97, 97, 0.79);

}



.blurb
{
    margin-top: 5px;
    margin-bottom: 5px;
}



.blurb-text
{
    font-size: medium;
}

.recipe-div
{

    background-color: white;
  /*  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);*/

    margin-top: 75px;

}

#recipe-title
{

    margin-top:10px;
    margin-left:5px;



}

#recipe-rating
{

    margin-top:10px;
    margin-left:5px;

}

#recipe-description
{
    margin-top:10px;
    margin-left:5px;
    margin-right:5px;

}

#recipe-ingredients
{
    margin-top:10px;
    padding-left: 50px;
    margin-left:5px;
}

.recipe-list
{

    list-style-image: url('sqpurple.gif');

}

#recipe-instructions
{
    margin-top:10px;
    margin-left:5px;
    margin-right:5px;
}

.subtitle
{
    font-family:Arial,Montserrat,Georgia,serif;
    font-size:14px;
    color:#a3865b;
    text-transform:uppercase;
    text-align:center;
    font-weight:700;
    letter-spacing:2px;
    display:block;
    margin-top:5px
}

.image-border
{
    border-style: solid;
    border-color: #8d7143;
    border-width: thin;
}
